body {
    display: flexbox;
    justify-content: center;
}
.welcome {
    text-align: center;
}
img {
    /*this will need centered
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;*/
}
.Headshot1{
    display: flex;
    align-items: center;
   justify-content: center;
}